#!/bin/bash

#######################################################
# Local AND Remote aliases
#
alias fuck='echo $(fc -ln -1) && sudo $(fc -ln -1)' 
alias ll='ls -l --color=auto'
alias la='ls -la --color=auto'
alias ls='ls --color=auto'
alias ssh='sshrc' 
alias mock='mock --dnf'
eval alias tmux=\'"tmux -f ${__TMUXRC}"\'
alias git-walk='find . -name ".git" -type d -exec sh -c '\''( repo="$(dirname {})" && cd "$repo" && echo "$repo - $(git branch --color -vv)" && git status -s -uno)'\'' \;'

# Please god help me remember dnf/yum
if hash dnf >/dev/null 2>&1; then
	alias dnf-repowhere='dnf repoquery --qf="%{name}-%{version}-%{release}.%{arch}\t%{reponame}"'
	alias yum='dnf'
elif hash yum >/dev/null 2>&1; then
	alias yum-repowhere='repoquery --qf="%{name}-%{version}-%{release}.%{arch}\t%{repoid}"'
	alias dnf='yum'
elif hash apt-get >/dev/null 2>&1; then
	echo "Debian, really? Idiot!"
fi

# Ok got me, not an alias but acts like one
if hash curl >/dev/null 2>&1; then 
	haste () 
	{ 
	    local S="http" 
	    local H="hastebin.com" 
	    local P=""
	    local SHP="${S}://${H}${P}/"
	    curl -X POST -s --data-binary @- "${SHP}documents" \
		| awk -F '"' '{print a$4}' a="${SHP}"
	}
fi
