"*":
  "ansible-galaxy":
    ansiblePath: "/usr/bin/"
  "ansible-vault":
    path: "/usr/bin/ansible-vault"
  "atom-beautify":
    general:
      analytics: false
  "atom-material-ui":
    colors:
      abaseColor: "#7e7e7e"
      predefinedColor: "Grey"
    tabs:
      compactTabs: true
      tintedTabBar: true
    treeView:
      compactList: true
    ui:
      panelShadows: true
  "atom-package-deps":
    ignored: []
  "autocomplete-plus":
    confirmCompletion: "tab always, enter when suggestion explicitly selected"
    enableExtendedUnicodeSupport: true
  core:
    autoHideMenuBar: true
    disabledPackages: [
      "linter-spell"
      "autocomplete-ruby"
      "tool-bar-atom"
      "tool-bar"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "*.swp"
    ]
    packagesWithKeymapsDisabled: [
      "language-ansible"
    ]
    projectHome: "/home/xenith/git"
    telemetryConsent: "no"
    themes: [
      "arc-ui"
      "one-dark-syntax"
    ]
  editor:
    fontFamily: "Liberation Mono"
    fontSize: 13
    invisibles: {}
    lineHeight: 1.3
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    tabLength: 4
  "exception-reporting":
    userId: "73c0624b-de12-72c6-b22c-b67b3bde9f98"
  "git-diff": {}
  "git-log": {}
  "git-plus":
    general: {}
  linter:
    lintOnChangeInterval: 3000
  "linter-flake8": {}
  "linter-pycodestyle": {}
  "linter-shellcheck":
    enableNotice: true
    shellcheckExecutablePath: "/usr/bin/shellcheck"
  "linter-ui-default": {}
  "markdown-writer":
    siteEngine: "jekyll"
    tableExtraPipes: true
  "merge-conflicts": {}
  minimap:
    plugins:
      cursorline: true
      cursorlineDecorationsZIndex: 0
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      linter: true
      linterDecorationsZIndex: 0
  "one-dark-ui":
    fontSize: 12
  "package-sync":
    createOnChange: true
    forceOverwrite: true
  "save-session":
    dataSaveFolder: "/home/xenith/.atom/packages/save-session/projects"
  tabs:
    enableVcsColoring: true
  "tool-bar":
    iconSize: "16px"
  "tree-view":
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
    squashDirectoryNames: true
  welcome:
    showOnStartup: false
