packages: [
  "ansible-galaxy"
  "ansible-vault"
  "arc-ui"
  "atom-beautify"
  "atom-ide-ui"
  "atom-jinja2"
  "atom-oss-license"
  "autocomplete-ansible"
  "autocomplete-python"
  "autocomplete-ruby"
  "busy-signal"
  "docker"
  "dockerletion"
  "file-types"
  "git-plus"
  "ide-json"
  "ide-python"
  "ide-yaml"
  "intentions"
  "jslint"
  "json-path-finder"
  "language-ansible"
  "language-cisco"
  "language-docker"
  "language-dotfiles"
  "language-markdown"
  "language-nginx"
  "language-powershell"
  "language-rpm-spec"
  "linter"
  "linter-ansible-linting"
  "linter-ansible-syntax"
  "linter-docker"
  "linter-flake8"
  "linter-haproxy"
  "linter-js-yaml"
  "linter-jsonlint"
  "linter-markdown"
  "linter-pycodestyle"
  "linter-python"
  "linter-python-pep8"
  "linter-ruby"
  "linter-shellcheck"
  "linter-spell"
  "linter-ui-default"
  "linter-write-good"
  "markdown-themeable-pdf"
  "markdown-writer"
  "maximize-active-pane"
  "maximize-panes"
  "merge-conflicts"
  "minimap"
  "minimap-cursorline"
  "minimap-find-and-replace"
  "minimap-git-diff"
  "minimap-linter"
  "minimap-split-diff"
  "package-sync"
  "pandoc-convert"
  "pdf-view"
  "platformio-ide-terminal"
  "project-manager"
  "python-indent"
  "python-tools"
  "script"
  "split-diff"
  "sync-settings"
  "teletype"
  "term3"
  "tool-bar"
  "tool-bar-atom"
  "tool-bar-markdown-writer"
  "tree-view-git-status"
]
