packages: [
  "ansible-galaxy"
  "ansible-vault"
  "atom-beautify"
  "atom-jinja2"
  "autocomplete-ansible"
  "autocomplete-python"
  "git-plus"
  "intentions"
  "language-ansible"
  "language-dotfiles"
  "language-nginx"
  "language-rpm-spec"
  "linter"
  "linter-ansible-linting"
  "linter-ansible-syntax"
  "linter-docker"
  "linter-flake8"
  "linter-haproxy"
  "linter-js-yaml"
  "linter-jsonlint"
  "linter-markdown"
  "linter-pep8"
  "linter-shellcheck"
  "linter-write-good"
  "markdown-writer"
  "maximize-panes"
  "merge-conflicts"
  "minimap"
  "minimap-cursorline"
  "minimap-find-and-replace"
  "minimap-git-diff"
  "minimap-linter"
  "package-sync"
  "platformio-ide-terminal"
  "python-indent"
  "python-tools"
  "sync-settings"
  "terminal-fusion"
  "tool-bar"
  "tool-bar-atom"
  "tree-view-git-status"
]
