packages: [
  "ansible-galaxy"
  "ansible-vault"
  "autocomplete-ansible"
  "git-plus"
  "intentions"
  "language-ansible"
  "language-dotfiles"
  "language-nginx"
  "linter"
  "linter-ansible-linting"
  "linter-ansible-syntax"
  "linter-docker"
  "linter-haproxy"
  "linter-js-yaml"
  "linter-jsonlint"
  "linter-markdown"
  "linter-shellcheck"
  "linter-spell"
  "markdown-writer"
  "merge-conflicts"
  "package-sync"
  "platformio-ide-terminal"
  "sync-settings"
  "tool-bar"
  "tool-bar-atom"
  "tree-view-git-status"
]
